[Unit]
Description=Hibernate Configuration Service
DefaultDependencies=no
Before=rescue.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl rescue
ExecStartPost=/root/hibernate_configure.sh
RemainAfterExit=true
StandardInput=tty
StandardOutput=tty
StandardError=tty

[Install]
WantedBy=multi-user.target
