[Re-enable hibernate by default]
Identity=unix-user:*
Action=org.freedesktop.upower.hibernate
ResultActive=yes

[Allow hibernate from login screen]
Identity=unix-user:*
Action=org.freedesktop.login1.hibernate
ResultActive=yes
