[Unit]
Description=Run Force Hibernate script every {{ battery_level_check_interval }} seconds

[Timer]
OnBootSec=0s
OnUnitActiveSec={{ battery_level_check_interval }}s
AccuracySec=5s
# WARNING: don't turn on Persistent - it will not work. Timer will never start, if you stop/start it
# Persistent=true

[Install]
WantedBy=timers.target
